<div class="dashboard-container">
  <aside class="sidebar">
    <div class="sidebar-header">
      <img src="assets/logo-Icon.webp" alt="SmartHarvest-Logo" class="logo"/>
      <h1 class="logo-text">SmartHarvest</h1>
    </div>

    @if (links) {
      <nav class="nav-menu">
        <ul class="nav-list">
          <li class="nav-item">
            <a [routerLink]="[getRelativePath(links.cultivos.href)]" class="nav-link" routerLinkActive="active">
              <img src="assets/Crop-Icon.webp" alt="Crop-Icon" class="icon" height="45" width="50"/>
              <span class="link-text">Registro y Gestión de Cultivos</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[getRelativePath(links.recommendation.href)]" class="nav-link" routerLinkActive="active">
              <img src="assets/recommendation-Icon.webp" alt="Recommendation-Icon" class="icon" height="45" width="39"/>
              <span class="link-text">Sistema de recomendaciones</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[getRelativePath(links.alertas.href)]" class="nav-link" routerLinkActive="active">
              <img src="assets/weather-Icon.webp" alt="Weather-Icon" class="icon" height="50" width="50"/>
              <span class="link-text">Alertas Climáticas</span>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="[getRelativePath(links.learning.href)]" class="nav-link" routerLinkActive="active">
              <img src="assets/lr-Icon.webp" alt="learning-resource-Icon" class="icon" height="50" width="50"/>
              <span class="link-text">Recursos educativos</span>
            </a>
          </li>
        </ul>
      </nav>
      }
  </aside>

  <section class="content-area">
    <router-outlet></router-outlet>
  </section>
</div>

